body {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 70px;
  color: #864;
  text-align: center;
}

h2 {
  font-size: 25px;
  color: #F64;
}

.black {
  background-color: black;
  color: #f1f1f1;
}
.greenish {
  background-color: lightgreen;
  color: darkgreen;
}
